body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: 5vw;
}
.chessBoard {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}
.square {
  width: 12.5%;
  height: 12.5%;
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.white {
  background-color: #f0d9b5;
}
.black {
  background-color: #b58863;
}
.coordinate {
  height: auto;
  display: flex;
  bottom: 4%;
  left: 4%;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rank {
  position: absolute;
  top: 4%;
  right: 4%;
  left: auto;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.whiteText {
  color: #f0d9b5;
}
.blackText {
  color: #b58863;
}
.piece {
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.piece img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
  margin: 20px 0px 0px 20px;
}
.controls button {
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(87, 64, 64);
  color: white;
  font-weight: bold;
  margin: 10px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.controls input {
  width: 120px;
  height: 40px;
  background-color: whitesmoke;
}
.src,
.dest {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: rgb(87, 64, 64) 2px 2px 5px;
  height: 30%;
  width: auto;
  padding: 10px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .chessBoard {
    width: 600px;
    height: 600px;
  }
}
@media (max-width: 600px) {
  .coordinate {
    font-size: 8px;
  }
  .controls {
    flex-direction: row;
    align-items: last baseline;
    justify-content: center;
    width: 80vw;
  }

  .controls button,
  .controls input {
    width: 20vw;
    margin-right: 5px;
  }
}
